<app-navbar></app-navbar>
<div class="card">
    <div class="card-head">
        <h3>Login de Usuario</h3>
    </div>
        <div class="card-body">
               
                <form  class="form-group" #miFormulario="ngForm" (ngSubmit)="login(miFormulario)">
                    <div class="form-group">
                        <label>Nombre de Usuario</label>
                        <input type="text" class="form-control" name = "nombre" ngModel>
                    </div>
                    <div class="form-group">
                        <label>Constraseña</label>
                        <input type="password" class="form-control" name = "password" ngModel>
                    </div>
                    <button type="submit" style="margin-top: 10px; margin-left: 30px;" class="btn btn-primary" >Iniciar Sesion</button>
                    <button [routerLink]="['']" style="margin-top: 10px; margin-left: 30px;" class="btn btn-primary">Volver al Inicio</button>
                </form>
        </div>
</div>

