<app-navbar  [sesion]="1"></app-navbar>

<h1 style="text-align: center; padding: 2%; font-family: cursive;" >{{categoria.nombre}}</h1>
<form  [formGroup]="form" (submit)="EditarCategoria()"> 
    <div class="container">
        <img src={{categoria.imagen}} class="card-img-top" alt="...">
        
        <h5>Url de la portada</h5>
        <input class="form-control me-2" type="text" formControlName="imagen" placeholder={{categoria.imagen}} id="imagen" >
        
        <h5>Nombre de la categoria</h5>
        <input  class="form-control me-2"type="text" formControlName="nombre" placeholder={{categoria.nombre}} id="">
        
        <h5>Descripcion</h5>
        <input class="form-control me-2"type="text" formControlName="descripcion" placeholder={{categoria.descripcion}} id="">

        <button  [disabled]="form.invalid"  type="submit" class="btn btn-primary" style="align-content: center; margin-top: 10px; margin-right: 10px;">Guardar cambios</button>
        <button [routerLink]="['/panelAdministrador']" class="btn btn-primary" style="align-content: center; margin-top: 10px;">Volver</button>
    </div>
</form>
<app-footer></app-footer>