<app-navbar></app-navbar>

<h1 style="text-align: center; padding: 2%; font-family: cursive;" >{{categoria.nombre}}</h1>

<div class="container">
    <img src={{categoria.imagen}} class="card-img-top" alt="...">
    <h5>Url de la portada</h5>
    <input class="form-control me-2" [(ngModel)]="categoria.imagen" type="text" placeholder="url_imagen" name="url_imagen" >
    <h5>Nombre de la categoria</h5>
    <input  class="form-control me-2"type="text" [(ngModel)]="categoria.nombre" placeholder='nombre ' name="nombre">
    <h5>Descripcion</h5>
    <input class="form-control me-2"type="text" [(ngModel)]="categoria.descripcion" placeholder='descripcion ' name="descripcion">
    <button (click)="EditarCategoria()" class="btn btn-primary" style="align-content: center; margin-top: 10px; margin-right: 10px;">Guardar cambios</button>
    <button [routerLink]="['/panelAdministrador']" class="btn btn-primary" style="align-content: center; margin-top: 10px;">Volver</button>
</div>

<app-footer></app-footer>