<app-navbar></app-navbar>

<div class="div_titulo">
  <h1>{{emprendimiento.nombre}}</h1>
</div>

<main class="main_principal">
  <section class="section_imagen_empre">
    <img  style="margin-left: 350px;" src={{emprendimiento.banner}}>
  </section>
  <aside class="aside_recaudacion">
      <button style="margin-top: 10px;" class="btn btn-outline-success me-md-2">Posteos</button>
      <div class="tabla_donaciones">
        <app-ver-donaciones></app-ver-donaciones>
      </div>
      <button (click)="DonarManguitos()" style="margin-bottom: 10px;" class="btn btn-outline-success me-md-2">Donar Manguitos</button>
      <button style="margin-bottom: 10px;" class="btn btn-outline-success me-md-2">Ver planes disponibles</button>
      <div>
        Valor del Manguito 
        <input type="text" value="$500" aria-label="readonly input example" readonly>
      </div>
  </aside>
  
</main>

<main class="main_descrip_empre">
  <section class="section_descrip_empre">
    <div>
      <h5> {{emprendimiento.descripcion}} </h5>
    </div>
    
  </section>
</main>

<section class="section_categorias">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button *ngFor="let categoria of categorias" type="button" class="btn btn-primary">{{categoria.nombre}}</button>
    </div>
  </section>
  
<app-footer></app-footer>