<nav class="nav_header">
    <div class="nav_logo">
      <img [routerLink]="['']" src="../assets/logos/ManguitoLogo2.png" width="20%" height="100px">
    </div> 
    <div class="nav_buttons">
      <button *ngIf="sesion==0" (click)= "Login()"  class="btn btn-outline-success me-md-2" style="background-color: rgb(253, 246, 237);" type="button">iniciar sesion</button>
      <button *ngIf="sesion!=0" (click)= "Cerrar_Sesion()"  class="btn btn-outline-success me-md-2" style="background-color: rgb(253, 246, 237);" type="button">cerrar sesion</button>
      <input  #name class="form-control me-2" type="search" placeholder="Emprendimiento" name="nombre" id="nombre" aria-label="Search">
      <button (click)="VerEmprendimiento(name.value)" class="btn btn-outline-success" type="submit">Buscar</button>
  </div>
</nav>