<app-navbar></app-navbar>

<h1 style="text-align: center; padding: 2%; font-family: cursive;" >{{emprendimiento.nombre}}</h1>

<form [formGroup]="form" (submit)="AltaEmprendimiento()">
    <div class="container">
        <img src={{emprendimiento.banner}} class="card-img-top" alt="...">
        
        <h5>Url de la portada</h5>
        <input class="form-control me-2" type="text" formControlName="banner" placeholder="banner" id="banner" >
        
        <h5>Nombre del emprendimiento</h5>
        <input  class="form-control me-2"type="text" formControlName="nombre" placeholder='nombre ' id="nombre">
        
        <h5>Descripcion</h5>
        <input class="form-control me-2"type="text" formControlName="descripcion" placeholder='descripcion ' id="descripcion">
        
        <h5>Sitio web o dominio</h5>
        <input class="form-control me-2"type="text" formControlName="url" placeholder='url ' id="url">
        
        <button [disabled]="form.invalid"  type="submit" class="btn btn-primary" style="align-content: center; margin-top: 10px; margin-right: 10px;">Crear Emprendimiento</button>
        <button [routerLink]="['/panelUsuario',idUsuario]" class="btn btn-primary" style="align-content: center; margin-top: 10px;">Volver</button>
    </div>
</form>







<app-footer></app-footer>
