<app-navbar [sesion]="idUsuario"></app-navbar>

<h1 style="text-align: center; padding: 2%; font-family: cursive;" >{{emprendimiento.nombre}}</h1>

<main class="main">
    <div class="container_categorias">
        <h4>Categorias</h4>
        <div class="form-check form-switch" *ngFor="let categoria of categorias">
            <input class="form-check-input" (change)="SeleccionDeCategoria($event,categoria)" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">{{categoria.nombre}}</label>
        </div>
        <div class="button_eliminar">
            <button class="btn btn-danger" (click)="EliminarEmprendimiento()" >Eliminar Emprendimiento</button>
        </div>
    </div>

    <form class="formulario" [formGroup]="form" (submit)="EditarEmprendimiento()">
        <div class="container">
            <img src={{emprendimiento.banner}} class="card-img-top" alt="...">
            
            <h5>Url de la portada</h5>
            <input class="form-control me-2"  formControlName="banner"  type="text"  id="banner" >
            
            <h5>Nombre del emprendimiento</h5>
            <label for="formGroupExampleInput" class="form-label">{{emprendimiento.nombre}}</label>
            <input  class="form-control me-2"type="text"  formControlName="nombre"   id="nombre">

            <h5>Descripcion</h5>
            <label for="formGroupExampleInput" class="form-label">{{emprendimiento.descripcion}}</label>
            <input class="form-control me-2"type="text"  formControlName="descripcion"  id="descripcion">
            
            <h5>Sitio web o dominio</h5>
            <label for="formGroupExampleInput" class="form-label">{{emprendimiento.url}}</label>
            <input class="form-control me-2"type="text"  formControlName="url"  id="url">
            
            <button [disabled]="form.invalid" class="btn btn-primary" type="submit" style="align-content: center; margin-top: 10px; margin-right: 10px;">Guardar cambios</button>
            <button [routerLink]="['/panelUsuario',idUsuario]" class="btn btn-primary" style="align-content: center; margin-top: 10px;">Volver</button>
        </div>
    </form>
</main>
<app-footer></app-footer>
