
.parrafo{
    margin-left: 20%;
    margin-right: 20%;
}


.container{
    margin-top: 0%;
    height: 700px;
    display:flex;
    align-items: center;
    justify-content: center;
    /* background-color: brown; */
}

.card{
    height: 200px;
    width: 18rem;
    display: flex;
    align-items: center;
    /*background-color: aqua;*/
    margin-left: 30px;
    margin-top: 0%;
    
}