<app-navbar></app-navbar>

<div class="card">
    <div class="card-head">
        <h3>Nuevo Usuario</h3>
    </div>
    <div class="card-body">
        <form [formGroup]="form" (submit)="RegistrarUsuario()">
            <div class="form-group" >
                <label class="form-label" >Nombre de Usuario</label>
                <input type="text" class="form-control" formControlName="nombre" id="nombre" >
            </div>
            <div class="form-group">
                <label class="form-label" >Email</label>
                <input  type="email" class="form-control"  formControlName="email"  id="email" >
            </div>
            <div class="form-group">
                <label class="form-label">Constraseña</label>
                <input  type="password" class="form-control"  formControlName="password"  id="password">
            </div>
            <div>
                <button  [disabled]="form.invalid" style="margin-top: 10px; margin-left: 30px;" class="btn btn-danger" type="submit">Registrarse</button>
                <button [routerLink]="['']" style="margin-top: 10px; margin-left: 30px;" class="btn btn-danger">Volver al Inicio</button>
            </div>
        </form>
    </div>
</div>

<app-footer></app-footer>

